<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Normal Time Calculation</title>
    </head>
    <body>
        <h1>Normal Time Calculation</h1>
        <p>
            In real life you were absent for <%= years %> years, <%= months %>
            months, <%= days %> days.
        </p>
        <a href="/quantum">Go to Quantum Time Calculation</a>
    </body>
</html>
