<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Quantum Time Calculation</title>
    </head>
    <body>
        <h1>Quantum Time Calculation</h1>
        <p>
            In quantum space you were absent for <%= years %> years, <%= months %> months, <%= days %> days.
        </p>
        <a href="/normal">Go to Normal Time Calculation</a>
    </body>
</html>
