body {
    text-align: center;
    font-family: Arial, sans-serif;
}

.form {
    margin-bottom: 20px;
}

input {
    width: 300px;
    padding: 8px;
}

button {
    padding: 8px 16px;
    margin-left: 10px;
}

.gallery {
    width: auto;
    padding: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-self: center;
    justify-items: center;
    align-items: center;
}

canvas {
    background: white;
    width: 300px;
    height: 300px;
    object-fit: contain;
}
