/* styles.css */

#rainbow-block {
    height: 100px;
    width: 100%;
    background: linear-gradient(
        to right,
        red,
        orange,
        yellow,
        green,
        blue,
        indigo,
        violet
    );
    position: relative;
}

#horn-block {
    width: 0;
    height: 0;
    position: relative;
    border-bottom: 120px solid gray;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
    margin-left: 100px;
    margin-top: -40px;
}
